/* You can add global styles to this file, and also import other style files */
@import '~@circlon/angular-tree-component/css/angular-tree-component.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.md-drppicker{background-color:#fff;color:rgba(0,0,0,.87)}.md-drppicker td.available:hover,.md-drppicker th.available:hover{background-color:rgba(0,0,0,.04);color:rgba(0,0,0,.87)}.md-drppicker td.off,.md-drppicker td.off.end-date,.md-drppicker td.off.in-range,.md-drppicker td.off.start-date{background-color:#fff;border-color:#fff;color:rgba(0,0,0,.38)}.md-drppicker td.in-range{background-color:#eee;border-color:#eee;color:rgba(0,0,0,.87)}.md-drppicker td.active{transition:background .3s ease-out,border .3s ease-out;background:rgba(0,0,0,.1)}.md-drppicker td.active,.md-drppicker td.active:hover{background-color:#673ab7;color:#fff}.md-drppicker .ranges ul li button{border-radius:4px;color:rgba(0,0,0,.87)}.md-drppicker .ranges ul li button.active{background-color:#673ab7;color:#fff}.md-drppicker .ranges ul li:hover{border-radius:4px;background-color:rgba(0,0,0,.04);color:#fff}


.no-board{
    margin-top: 8%;
    text-align: center;
    font-size: 19px;
    display: block;
    font-weight: 400;
}

.card-loader{
    margin: auto;
    display: block;
    width: 100px;
    height: 100px;
    margin-top: 15%;
}
/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}